.page.form .main-area{
    background-image: url('~/danijel-durkovic-1401598-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.page.form .label{
    color:black;
}

.augmented-view #absolute>StackLayout .small-icon{
	background-color: white;
}