.augmented-view #main-area *{
	 background-color:pink;
	 
}
.augmented-view #detail-top *{
	 background-color:blue;
	 
}

.augmented-view AR{
	 background-color:yellow;
	 
}

DockLayout{
    background-color:transparent;
}
StackLayout{
            orientation: vertical;
        }