.page.form .main-area{
    background-image: url('~/danijel-durkovic-1401598-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.page.form .label{
    color:#0004b6;
}
.ar-card.label{
    color:#000000;
}

.augmented-view #absolute>StackLayout .small-icon{
	background-color: #f88379;
}

.mainmap-view #absolute>StackLayout .small-icon{
	background-color: #f88379;
}