#detail-top{
    background-color:white;
}

#detail-top>*{
    width:100%;
    

}

 .no-video {
                visibility: collapse;
            }
.theme-near.theme-legend Label.label, .theme-near.theme-legend Label.heading, .theme-near.theme-legend Image.font {
        color: #4169e1;
    

}