.iw-title {
    font-size: 20px;
    font-weight: 400;
    margin: 10px 0;
}

.media-section>*>span {vertical-align: top;margin: 2px;display: inline-block;}

.media-section {
    text-align: center;
    margin-top:10px;
}

.media-section>* {
    display: inline-block;
}

a.more {
    border: 1px solid #3a5689;
    padding: 0 4px;
    background: cornflowerblue;
    color: white;
    text-shadow: 0 0 4px black;
    border-radius: 3px;
}

.iw-title, .field-value-module .field-label {
    color: #444444;
}

.iw-content {
    line-height: 18px;
}

.mapitem_more {
    font-size: 18px;
    font-weight: 100;
    line-height: 25px;
    padding: 0 24px;
}