.iw-title {
    font-size: 20px;
    font-weight: 400;
    margin: 10px 0;
}

.media-section>*>span {vertical-align: top;margin: 2px;display: inline-block;}

.media-section {
    text-align: center;
    margin-top:10px;
}

.media-section>* {
    display: inline-block;
}

a.more {
    border: 1px solid #3a5689;
    padding: 0 4px;
    background: cornflowerblue;
    color: white;
    text-shadow: 0 0 4px black;
    border-radius: 3px;
}

.iw-title, .field-value-module .field-label {
    color: #444444;
}

.iw-content {
    line-height: 18px;
}

.mapitem_more {
    font-size: 18px;
    font-weight: 100;
    line-height: 25px;
    padding: 0 24px;
}


.legend {
    width: 300px;
    height: 300px;
    background-color: white;
    content: "";
    position: absolute;
    top: calc( 50% - 130px );
    left: 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    border-radius: 0 2px 2px 0;
}

.legend .period, .legend .category{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: coral;
    margin: 3px;
    border: 1px solid #555555;
    border-radius: 2px;
    cursor: pointer;
}
.legend .category {
    background-size: 100%;
    background-color: whitesmoke;
}

.legend .toggle {
    position: absolute;
    right: 0;
    top: 0;
}

.legend .toggle:after {
    content: "<";
    /* transform: rotate(45deg); */
    display: inline-block;
    font-size: 20px;
    padding: 0 6px;
}

.legend.minimized .toggle:after{
    content: ">";
    padding: 2px 10px;
}

.legend.minimized .periods, .legend.minimized .categories, .legend.minimized h1, .legend.minimized h2 {
    display: none;
}

.legend.minimized {
    width: 30px;
    height: 30px;
}



.legend .periods, .legend .categories {
    margin-left: 25px;
    margin-right: 10px;
}