textarea.text-input {
  border-radius: 2px;
  border-color: grey;
}

.wizard-title {
  font-size: 25px;
}

.ContentDockLegend {
margin-top: 20px}

.bar_slider{
 z-index:2;
}
.era-bar{
  z-index: 1;
  width: 100%;
  position: absolute;
  bottom: 50px;
  height: 30px;
  transition: height 0.2s;
}
.era-bar>div {
  position: absolute;
  height: 100%;
  background-color: white;
  border-left: 1px solid rgba(0,0,0,0.5);
}
.era-bar>.era {
  border: 1px solid rgba(0,0,0,0.5);
 cursor:pointer;
 background-color: transparent;
 
}

.era-bar>.era:hover, .era-bar>.era.hover{
background-color: white;
}

.era-bar>.era:before {
  content: attr(data-label);
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  text-align: center;
  line-height: 30px;
}

.e-1914, .e-1941 {
  font-size: 8px;
}




.events-bar{
  position: absolute;
  bottom: 50px;
  width: 100%;
}


.events-bar>div {
  position: absolute;
  height: 50px;
  bottom: 0;
  border-left: 1px solid;
}

.events-bar>div:before {
    content: "";
    position: absolute;
    border-radius: 100%;
    width: 5px;
    height: 5px;
    background-color: white;
    border: 1px solid black;
    left: -4px;
}



.events-bar>div.b {
    height: 80px;
}


.events-bar>div.c {
    height: 65px;
}


.events-bar>div:after {
    content: attr(data-label);
    text-align: right;
    position: absolute;
    white-space: nowrap;
    top: -4px;
    background-color: black;
    color: white;
    padding: 1px 4px;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba( 0, 0, 0, 0.3);
}

.events-bar>div.a:after{
  right: 6px;
}
.events-bar>div.b:after, .events-bar>div.c:after, .events-bar>div.d:after {
  left: 5px;
}

.timeline-graph {
  position: absolute;
  bottom: 50px;
  z-index: 1;
  padding: 2px 0;
  pointer-events: none;
  opacity:1;
  transition: opacity 0.5s;
}
.timeline-graph.detail {
opacity:0;
}
.era-s:hover .era-bar, .era-s.hover .era-bar {
  height: 100px;

}

.era-s:hover .timeline-graph, .era-s.hover .timeline-graph {
 opacity:0
}
.era-s:hover .timeline-graph.detail, .era-s.hover .timeline-graph.detail {
 opacity:1
}


.infow_bkg {
  border-color: rgb(145, 128, 77);
}

.ifw-bkg-arrow {
  background-color: rgb(195, 182, 144);
}

.infowindow_bl {
  border-bottom-left-radius: 3px;
}
.infowindow_br {
  border-bottom-right-radius: 3px;
}
.infowindow_tl {

}
.infowindow_tr {
  border-top-right-radius: 3px;
}
.infowindow_tab {
  left: -14px;
}
.infowindow_tab .tab:first-child {
  border-left: 1px solid rgb(195, 182, 144);
}
.discussionTab .count.hasPosts:before {
  background-color: rgb(195, 182, 144);
}

.infowindow_content .discussion {
  margin-bottom: 20px;
}

input.discussion-textbox {
  border-radius: 3px;
  height: 25px;
  box-shadow: 0 0 3px rgba(0,0,0,0.1) inset;
  margin-top: 7px;
  text-indent: 6px;
}

.discussion span.t-btn {
  border: none;
  margin-top: 3px;
}

.timeline-container .ui-ctrl-handle > span:after {
    color: black;
    text-shadow: 0 0 1px white, 0 0 5px white, 0 0 10px white;
    font-weight: 500;
    font-size: 20px;
    top: 30px;
}




.media-description .tabs span.noIcon {
	height: 75px;
	width: 105px;
}

.media-description .tabs span.noIcon.audio {
	background-image:
		url("/templates/rijekafiume/images/media-images/media-music.png");
	background-size: 70px auto;
}

.media-description .tabs .document {
	display: none;
}

.media-description .tabs span.noIcon.image {
	background-image:
		url("/templates/rijekafiume/images/media-images/media-image.png");
	background-size: 70px auto;
}

.media-description .tabs span.noIcon.video {
	background-image:
		url("/templates/rijekafiume/images/media-images/media-video.png");
	background-size: 70px auto;
}

.media-description .tabs span.noIcon.audio:hover {
	background-image:
		url("/templates/rijekafiume/images/media-images/media-audio-black.png");
	background-size: 70px auto;
}

.media-description .tabs span.noIcon.image:hover {
	background-image:
		url("/templates/rijekafiume/images/media-images/media-image-black.png");
	background-size: 70px auto;
}

.media-description .tabs span.noIcon.video:hover {
	background-image:
		url("/templates/rijekafiume/images/media-images/media-video-black.png");
	background-size: 70px auto;
}

.media-description img, .tabs .noIcon, .media-description img:hover, .tabs .noIcon:hover{
	background-color: white;
	box-shadow:0 0 0 transparent;
	border-color:transparent;
}

.media-description .text-input{
	display:none;
}

.tabs {
    margin-right: 75px;
}

.date.formatter {
    top: -28px;
}

.era.e-1815 {
    background-color: aliceblue;
}

.era.e-1914 {
    background-color: #CCC09F;
}

.era.e-1924 {
    background-color: aliceblue;
}

.era.e-1941 {
    background-color: #CCC09F;
}

.era.e-1947 {
    background-color: aliceblue;
}

.era.e-1990 {
    background-color: #CCC09F;
}

.info-window_window_page {
    width: 450px;
}



span.search-bar-btn.left.fltr-bldr.users-items.c {
    position: absolute;
    left: -32px;
}

span.search-bar-btn.left.search {
    position: absolute;
    left: 13px;
    float: none;
}







.icn-s-lst li {
    height: 60px;
    width: 60px;
    font-size: 10px;
    line-height: 15px;
}

.icn-s-lst li>img {
    top: 12px;
    height: 36px;
}


.default-cluster-labels {
    font-size: 0;
}
.default-cluster-labels:after {
    content: attr(data-number);
    font-size: 13px;
    width: 20px;
    left: -10px;
    top: -9px;
    position: relative;
    text-align: center;
    display: inline-block;
    color: white;
    height: 20px;
    line-height: 20px;
    text-shadow: 0 0 2px black;
}

span.layer-group.minimized {
    width: 95px;
}

span.indicator-switch {
    margin-top: 17px;
}